.MuiCard-root{
    width: 20% !important;
    margin: 1%;
    border-radius: 15% !important;
    background-color: cornflowerblue !important;
}
.makeStyles-media-2 {
    height: 285px !important;
}
.MuiCardActionArea-root {
    text-align: center !important;
}
.MuiCardMedia-root {
    height: 285px !important;
}
.buttonband{padding: 2% !important;
    border-radius: 26% !important;
    background-color: aquamarine !important;}